header{
    width: 90%;
    background-color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.mo_header_color{
    display: none;
}

.logo{
    width: 180px;
}

.menu_wrap{
    display: flex;
    align-items: center;
    font-weight: 600;
    transition-duration: 0.5s;
}

.menu_wrap li{
    margin-right: 80px;
}

.menu_wrap li:last-child{
    margin-right: 0;
}

.menu_wrap a:hover{
    color: #2c73ff;
}

.menu_wrap img{
    transition-duration: 0.5s;
}

.menu_wrap li:hover img{
    transform: translateY(4px) rotate(180deg);
}

.menu_wrap img{
    width: 20px;
    display: inline;
    transform: translateY(4px);
}

.right_menu_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang{
    margin-right: 25px;
}

.header_btn{
    background-color: #2c73ff;
    width: 90px;
    height: 46px;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_btn:hover{
    background-color: #1247af;
}

.header_btn a{
    color: #eee;
}

.header_mo{
    display: none;
}

.mo_menu{
    display: block;
    width: 100%;
    height: 1300px;
    font-weight: 600;
    position: fixed;
    top: -1300px;
    /* top: 0; */
    left: 0;
    background-color: white;
    z-index: 9;
    padding: 90px 45px;
    
    transition: 0.5s;
}
.mo_lang_line{
    width: 0.2px;
    background-color: #828282;
    margin: 0 10px;
}

/* header end */