.sec_7{
    background-color: #f3f5fa;
}

.card_wrap_7{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card_7{
    width: 45%;
    background-color: #fff;
    padding: 60px;
    margin: 0 5%;
    border-radius: 10px;
    border: 2px solid #eee;
    box-shadow: 1px 0 40px 2px rgba(0, 0, 0, .05);

    transition-duration: 0.4s;
    transition-property: transform;
    /* transition-property는 속성을 적용할 것 선택하는 느낌으로 사용 */
}

.card_7:hover{
    transform: translate(-10px, -20px);
    border: 2px solid #2c73ff;
}

.card_7 h4{
    font-size: 16px;
    color: #2c73ff;
    font-weight: 500;
}

.card_7 h3{
    margin: 20px 0 25px 0;
}

.card_7 p{
    font-size: 15px;
    max-width: 655px;
}

.card_7 h6{
    opacity: 0.5;
}

.card_7 h5{
    margin-top: 20px;
    color: #2c73ff;
    font-weight: 500;
}
/* sec_7 end */